
header {
	background: #D0ECE7;
	padding: 20px 0;
}
nav {
	position: absolute;
	top: 110px;
	right: 10px;
	margin: auto;
}

.divisaocaixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav a {
	text-transform: lowercase;
	color: #138D75;
	font-weight: bold;  
	font-size:30px;
	text-decoration: none;
	font-family: 'Carrois Gothic SC';

}

nav a:hover {
	color:#0B5345;
	text-decoration: underline;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

.sobre {
	font-family: Carrois Gothic SC;
	text-align: center;
	font-size: 20px;
	padding:20px 0;
}

#missao {
	font-size:22px;
	font-family: Carrois Gothic SC;
	text-align: center;
	padding: 30px 0;
}


.paragrafo {
	text-align: center;
	font-family: Tahoma;
	font-size: 15px;
	padding: 10px;
	font-color:#D0ECE7;
}

.sobre h2 {
	font-family: Carrois Gothic SC;
	text-align: center;
	font-weight: bold;
}

.beneficios {
	text-align: center;
	margin: 20px 15;
	font-family: Carrois Gothic SC;
	font-size: 20px;
	padding: 20px 0;
}

.itens {
	margin: 5 5;
	padding: 15px 15px;
	font-size: 15px;
	font-style: none;
	font-family: Tahoma;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	box-sizing: border-box;
	border: 2px dotted black;
	border-radius: 10px;
	font-color:#D0ECE7;
}



.titulocentralizado {
	font-family: Carrois Gothic SC;
	padding: 10 0px;
	margin: 5 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}


.copyright {
	color: white;
	font-size: 13px;
	margin: 20px 0;
}
